body{
    background: url(..//img/nature.jpg);
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    height: 800px;
    width: 1000px;
    background-size: cover;
    font-family:Tahoma, sans-serif ;

}
.log{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 750px;
    box-sizing:border-box;
    border-radius: 10%;
    background: rgba(30, 31, 35, 0.5);
    padding: 40px;
}
h3{
    margin: 0;
    padding: 0 0 20px;
    font-weight: bold;
    color: #ffffff;
}
.log p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #ffffff;
}
a{
    color: #ffffff;
}
.log input, select{
    margin-bottom: 20px;
    width:100%
}
.log input[type=text],
.log input[type=password]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 30px;
    color: #ffffff;
    display: inline;
}
.log input[type=checkbox],
.log label{
    margin-bottom: 15px;
    width: 7%;
    color: #ffffff;
    cursor: pointer;

}
label{
    display: inline-block;
    width: 14px;
    text-align: left;
    margin-right: 40px;
    margin-top: 10px;
    
}
::placeholder{
    color: #ffffff;
}
.log select{
    margin-top: 10px;
    padding: 5px 0;
}
.log input[type=submit]{
    border: none;
    height: 40px;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    background-color: green;
    cursor: pointer;
    border-radius: 20px;
}
